* {
  margin: 0;
  padding: 0;
}
:root{
  --blue: #447497
}
.gradient{
    background-image: linear-gradient(to right, #D21404 , #FFCD01);
}
#city-heading{
  font-size: 30px;
}
Ul {
  list-style-type: none;
}
li {
  border: solid;
  border-radius: 3px;
  border-width: 1px;
  border-color: gray;
  margin-bottom: 3px;
  padding: 5px;
}
li:hover {
  background-color: lightgray;
}
.blue {
  background-color: var(--blue);
}
.forecast {
  width: 400px;
}
.severe {
  background-color: red;
  color: white;
  border-style: solid;
  border-color: black;
  border-width: 1px;
  border-radius: 5px;
  padding: 3px;
}
.moderate{
  background-color: yellow;
  border-style: solid;
  border-color: black;
  border-width: 1px;
  border-radius: 5px;
  padding: 3px;
}
.favorable {
  background-color: green;
  color: white;
  border-style: solid;
  border-color: black;
  border-width: 1px;
  border-radius: 5px;
  padding: 3px;
}