* {
  margin: 0;
  padding: 0;
}

:root{
  --blue: #447497
}
.gradient{
    background-image: linear-gradient(to right, #D21404 , #FFCD01);
}
#city-heading{
  font-size: 30px;
}
Ul {
  list-style-type: none;
}
li {
  border: solid;
  border-radius: 3px;
  border-width: 1px;
  border-color: gray;
  margin-bottom: 3px;
  padding: 5px;
}
li:hover {
  background-color: lightgray;
}

.blue {
  background-color: var(--blue);
}